#calendarTable {
  border: 1px solid black;
  padding: 10px 0;
  background: #eee;
}
#days {
  background: brown;
}

#week0 td {
  background: yellow;
  border: 1px solid black;
}

#week1 td {
  background: yellow;
  border: 1px solid black;
}
#week2 td {
  background: yellow;
  border: 1px solid black;
}
#week3 td {
  background: yellow;
  border: 1px solid black;
}
#week4 td {
  background: yellow;
  border: 1px solid black;
}
#week5 td {
  background: yellow;
  border: 1px solid black;
}

#monthHeader,
#yearHeader {
  font-size: 26px;
  font-weight: bold;
}
